/*retirada das flags da bbdi*/
.promo-bbdi { display: none; }

.page-footer .vendors .list .list-item.bbdi {
    position: relative;
    margin: 0 30px 0 0
}

.page-footer .vendors .list .list-item.bbdi:before {
    content: "Uma empresa do";
    position: absolute;
    top: -14px;
    color: #555;
    font-size: 10px;
    font-size: 0.625rem
}

.page-footer .vendors .list .list-item.bbdi a {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("//bbbaterias.vteximg.com.br/arquivos/mini-logo_grupo-bbdi.png");
    background-position: 0 6px;
    height: 31px;
    width: 106px
}

@media (max-width: 1025px) {
    .abre-liguenos {
        display: none;
    }

    .abre-r-liguenos-r {
        display: block;
    }
}

/* Liguenos */
@media (min-width: 1025px) {
    .abre-liguenos {
        display: block;
    }

    .abre-r-liguenos-r {
        display: none;
    }
}

.abre-liguenos {
    background: url(//bbbaterias.vteximg.com.br/arquivos/botao-liguenos.png) no-repeat;
    width: 330px;
    height: 70px;
    cursor: pointer;
    float: left;
}

.abre-liguenos-texto {
    width: 190px;
    height: 50px;
    position: absolute;
    margin: 15px 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
}

.transparente-liguenos {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #000000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.box-liguenos {
    width: 500px;
    height: 388px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -194px;
    margin-left: -250px;
    z-index: 1000000;
    display: none;
}

.box-liguenos .liguenos-icone-tel {
    width: 64px;
    height: 58px;
    position: absolute;
    margin: -28px 210px;
    background: url(//bbbaterias.vteximg.com.br/arquivos/liguenos-icone-tel.png) no-repeat;
}

.box-liguenos .liguenos-box {
    width: 500px;
    height: 362px;
    position: absolute;
    margin: 26px auto;
    background-color: #FFFFFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.box-liguenos .liguenos-icone-fechar {
    width: 64px;
    height: 58px;
    position: absolute;
    margin: 10px 450px;
    background: url(//bbbaterias.vteximg.com.br/arquivos/liguenos-icone-fechar.png) no-repeat;
}

.box-liguenos .liguenos-texto1 {
    width: 400px;
    height: 30px;
    position: absolute;
    margin: 50px 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
}

.box-liguenos .liguenos-texto2 {
    width: 400px;
    height: 30px;
    position: absolute;
    margin: 90px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #747474;
    letter-spacing: 2px;
}

.box-liguenos input[type="text"] {
    width: 190px;
    height: 25px;
    background-color: #D2D2D2;
    outline: none;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    padding-left: 5px;
    padding-right: 5px;
}

.box-liguenos .normal input[type="email"] {
    width: 190px;
    height: 25px;
    background-color: #D2D2D2;
    outline: none;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    padding-left: 5px;
    padding-right: 5px;
}

.box-liguenos input[type="submit"] {
    width: 265px;
    height: 38px;
    position: absolute;
    margin: 280px 110px;
    background-color: #58B030;
    outline: none;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-liguenos input[type="submit"]:hover {
    background-color: #479227;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-liguenos input[type="submit"]:active {
    border-bottom: solid 4px #346B1D;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-liguenos .nome-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 155px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
}

.box-liguenos .nome-input-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 150px 180px;
}

.box-liguenos .telefone-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 195px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
}

.box-liguenos .telefone-input-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 190px 180px;
}

.box-liguenos .email-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 235px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
}

.box-liguenos .email-input-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 230px 180px;
}

.box-liguenos .opcional-liguenos {
    width: auto;
    height: auto;
    position: absolute;
    margin: 238px 375px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
}

.abre-r-liguenos-r {
    width: 100%;
    height: 70px;
    background-color: #5AB031;
    cursor: pointer;
    margin-top: 3px;
}

.abre-r-liguenos {
    background: url(//bbbaterias.vteximg.com.br/arquivos/botao-liguenos-responsivo.png) no-repeat;
    width: 330px;
    height: 70px;
    cursor: pointer;
    margin: 0 auto;
}

.abre-r-liguenos-texto {
    width: 190px;
    height: 50px;
    position: absolute;
    margin: 15px 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
}

.box-r-liguenos {
    width: 98%;
    height: 372px;
    margin: 0 auto;
    display: none;
}

.box-r-liguenos .r-liguenos-box {
    width: 98%;
    height: 362px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-left: solid 1px #5AB031;
    border-right: solid 1px #5AB031;
    border-bottom: solid 1px #5AB031;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottom-left: 20px;
    -moz-border-radius-bottom-right: 20px;
    -ms-border-radius-bottom-left: 20px;
    -ms-border-radius-bottom-right: 20px;
    -o-border-radius-bottom-left: 20px;
    -o-border-radius-bottom-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box-r-liguenos .r-liguenos-texto1 {
    width: 98%;
    height: auto;
    padding-top: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
}

.box-r-liguenos .r-liguenos-texto2 {
    width: 98%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #747474;
    letter-spacing: 2px;
}

.box-r-liguenos input[type="text"], input[type="email"] {
    width: 100%;
    height: 25px;
    background-color: #D2D2D2;
    outline: none;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    padding-left: 5px;
    padding-right: 5px;
}

.box-r-liguenos input[type="submit"] {
    width: 100%;
    height: 38px;
    background-color: #58B030;
    outline: none;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-r-liguenos input[type="submit"]:hover {
    background-color: #479227;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-r-liguenos input[type="submit"]:active {
    border-bottom: solid 4px #346B1D;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.box-r-liguenos .base-submit {
    width: 76%;
    height: 38px;
    margin: 20px auto;
}

.box-r-liguenos .base-input {
    width: 80%;
    height: 38px;
    margin: 20px auto;
}

.box-r-liguenos .nome {
    width: 21%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    float: left;
}

.box-r-liguenos .nome-input {
    width: 79%;
    height: auto;
    float: right;
}

.box-r-liguenos .telefone {
    width: 21%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    float: left;
}

.box-r-liguenos .telefone-input {
    width: 79%;
    height: auto;
    float: right;
}

.box-r-liguenos .email {
    width: 21%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #747474;
    float: left;
}

.box-r-liguenos .email-input {
    width: 79%;
    height: auto;
    float: right;
}

@media (max-width: 990px) {
    .ts-modal-trigger {
        display: none;
    }
}


/* inicio corporativo */

.para-empresas {
    width: 1000px;
    margin: 0 auto;
}

.bb-corporativo h2 { 
    font-size: 20px; 
    color: #602f85;
    padding-top: 20px;
}

.bb-corporativo p {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1023px) {
    .bb-corporativo .para-empresas {
        width: 100%;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.bb-corporativo .banner-para-empresas {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #c5c1b6;
}

.bb-corporativo .banner-para-empresas img {
    width: 1000px;
    height: 400px;
}

.bb-corporativo .pr-banner_site_desktop {
    display: block;
}

.bb-corporativo .pr-banner_site_mobile {
    display: none;
}

@media (max-width: 1023px) {
    .bb-corporativo .banner-para-empresas img {
        width: 100%;
        height: auto;
    }
    
    .bb-corporativo .pr-banner_site_desktop {
        display: block;
    }
    
    .bb-corporativo .pr-banner_site_mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .bb-corporativo .banner-para-empresas img {
        width: 100%;
        height: auto;
    }
    
    .bb-corporativo .pr-banner_site_desktop {
        display: none;
    }
    
    .bb-corporativo .pr-banner_site_mobile {
        display: block;
    }
}

.bb-corporativo .disponivel-empresa {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #ECECFB;
}

.bb-corporativo .disponivel-empresa .center {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bb-corporativo .disponivel-empresa h2 { 
    font-size: 20px; 
    color: #602f85;
    padding-top: 5px;
}

.bb-corporativo .disponivel-empresa .center-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.bb-corporativo .disponivel-empresa img {
    margin-right: 24px;
    margin-bottom: 24px;
    display: inline-block;
}

@media (max-width: 1023px) {
    .bb-corporativo .disponivel-empresa .center {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .bb-corporativo .disponivel-empresa h2 {
        text-align: center;
    }
}

.bb-corporativo .confiam-empresa {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.bb-corporativo .confiam-empresa .center {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bb-corporativo .confiam-empresa h2 { 
    font-size: 20px; 
    color: #602f85;
    padding-top: 5px;
}

.bb-corporativo .confiam-empresa .center-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.bb-corporativo .confiam-empresa img {
    margin-right: 24px;
    margin-bottom: 24px;
    display: inline-block;
    opacity: 0.6;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.bb-corporativo .confiam-empresa img:hover {
    margin-right: 24px;
    margin-bottom: 24px;
    display: inline-block;
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

@media (max-width: 1023px) {
    .bb-corporativo .confiam-empresa .center {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .bb-corporativo .confiam-empresa h2 {
        text-align: center;
    }
}

.bb-corporativo .contato-empresa {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bb-corporativo .contato-empresa .center {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.bb-corporativo .contato-empresa .center .portelefone {
    width: 40%;
    height: 420px;
    float: left; 
    border: solid 1px #602f85;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bb-corporativo .contato-empresa .center .portelefone .titulo {
    width: 210px;
    height: 20px;
    margin: -12px auto;
    background-color: #ffffff;
    color: #602f85;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.bb-corporativo .portelefone .call-local {
    width: 80%;
    height: 45px;
    margin: 80px auto 0px auto;
    background: url(pr_empresas_call.png) no-repeat;
    color: #999999;
    font-size: 18px;
    padding-top: 2px;
    padding-left: 60px;
}

.bb-corporativo .portelefone .funcionamento {
    width: 80%;
    height: 28px;
    margin: 40px auto;
    color: #602f85;
    font-size: 12px;
    font-weight: bold;
}

.bb-corporativo a:link, a:visited, a:active, a:hover {
    text-decoration: inherit;
    color: inherit;
}

.bb-corporativo .portelefone .funcionamento .funcionamento-pt-um {
    width: 50%;
    height: 28px;
    float: left;
    text-align: left;
}

.bb-corporativo .portelefone .funcionamento .funcionamento-pt-dois {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
}

.bb-corporativo .portelefone .pr_empresas_mail {
    width: 80%;
    height: 45px;
    margin: 20px auto 0px auto;
    background: url(pr_empresas_mail.png) no-repeat;
    color: #999999;
    font-size: 18px;
    padding-left: 60px;
    line-height: 35px;
}

.bb-corporativo .contato-empresa .center .liguenos {
    width: 55%;
    height: 420px;
    float: right;
    border: solid 1px #602f85;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bb-corporativo .contato-empresa .center .liguenos .titulo {
    width: 160px;
    height: 20px;
    margin: -12px auto;
    background-color: #ffffff;
    color: #602f85;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.bb-corporativo .liguenos .texto {
    width: 60%;
    height: auto;
    margin: 65px auto;
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.bb-corporativo .liguenos input[type="text"], input[type="email"] {
    width: 100%;
    height: 35px;
    background-color: #E1E3E2;
    outline: none;
    border: 0px;
    font-size: 14px;
    color: #999999;
    padding-left: 5px;
    padding-right: 5px;
}

.bb-corporativo .liguenos input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #602f85;
    outline: none;
    border: 0px;
    font-size: 18px;
    color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.bb-corporativo .liguenos input[type="submit"]:hover {
    background-color: #532873;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.bb-corporativo .liguenos input[type="submit"]:active {
    border-bottom: solid 4px #2B143A;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.bb-corporativo .liguenos .base-submit {
    width: 50%;
    height: 40px;
    margin: 20px auto;
}

.bb-corporativo .liguenos .base-input {
    width: 80%;
    height: 35px;
    margin: 20px auto;
}

.bb-corporativo .liguenos .nome {
    width: 24%;
    height: auto;
    line-height: 34px;
    font-size: 14px;
    color: #999999;
    float: left;
}

.bb-corporativo .liguenos .nome-input {
    width: 76%;
    height: auto;
    float: right;
}

.bb-corporativo .liguenos .telefone {
    width: 24%;
    height: auto;
    line-height: 34px;
    font-size: 14px;
    color: #999999;
    float: left;
}

.bb-corporativo .liguenos .telefone-input {
    width: 76%;
    height: auto;
    float: right;
}

.bb-corporativo .liguenos .email {
    width: 24%;
    height: auto;
    line-height: 34px;
    font-size: 14px;
    color: #999999;
    float: left;
}

.bb-corporativo .liguenos .email-input {
    width: 76%;
    height: auto;
    float: right;
}

@media (max-width: 1023px) {
    .bb-corporativo .contato-empresa .center {
        width: 96%;
        height: auto;
        margin: 0 auto;
    }
    
    .bb-corporativo .contato-empresa .center .portelefone {
        width: 100%;
        height: 340px;
        border: solid 1px #602f85;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 20px auto;
        float: inherit;
    }
    
    .bb-corporativo .portelefone-aling-responsivo {
        width: 400px;
        margin: 0 auto;
    }
    
    .bb-corporativo .contato-empresa .center .liguenos {
        width: 100%;
        height: 420px;
        border: solid 1px #602f85;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin: 20px auto;
        float: inherit;
    }
    
    .bb-corporativo .portelefone .funcionamento .funcionamento-pt-um {
        width: auto;
        height: 28px;
        float: left;
        text-align: left;
    }
    
    .bb-corporativo .portelefone .funcionamento .funcionamento-pt-dois {
        width: 40%;
        height: 28px;
        float: left;
        text-align: right;
    }
}

@media (max-width: 420px) {
    .bb-corporativo .portelefone-aling-responsivo {
        width: 320px;
        margin: 0 auto;
    }

    .bb-corporativo .portelefone .pr_empresas_mail {
        margin-top: 60px;
    }
}

.bb-corporativo .home-redes-empresa {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.bb-corporativo .home-redes-empresa .center {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: solid 1px #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bb-corporativo .home-redes-empresa .home {
    width: 107px;
    height: 45px;
    background: url(pr-home.png);
    float: left;
}

.bb-corporativo .home-redes-empresa .base-redes {
    width: 190px;
    height: 45px;
    float: right;
}

.bb-corporativo .home-redes-empresa .base-redes .facebook {
    background-image: url(icons-s7c190d4b23.png);
    background-repeat: no-repeat;
    background-position: 0 -563px;
    height: 45px;
    width: 47px;
    float: left;
}

.bb-corporativo .home-redes-empresa .base-redes .twitter {
    background-image: url(icons-s7c190d4b23.png);
    background-repeat: no-repeat;
    background-position: 0 -1590px;
    height: 45px;
    width: 47px;
    float: left;
}

.bb-corporativo .home-redes-empresa .base-redes .google {
    background-image: url(icons-s7c190d4b23.png);
    background-repeat: no-repeat;
    background-position: 0 -735px;
    height: 45px;
    width: 47px;
    float: left;
}

.bb-corporativo .home-redes-empresa .base-redes .youtube {
    background-image: url(icons-s7c190d4b23.png);
    background-repeat: no-repeat;
    background-position: 0 -1656px;
    height: 45px;
    width: 47px;
    float: left;
}

.bb-corporativo .home-redes-empresa .base-redes .opacity {
    opacity: 0.6;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.bb-corporativo .home-redes-empresa .base-redes .opacity:hover{
    opacity: 1;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    margin-top: -5px;
}

@media (max-width: 1023px) {
    .bb-corporativo .home-redes-empresa .center {
        width: 96%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
        border: solid 1px #cccccc;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}

.bb-corporativo .pr-nos_te_ligamos {
    width: 285px;
    height: 124px;
    background: url(pr-nos_te_ligamos.png?v=1) no-repeat;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -55px;
    z-index: 9999;
    margin-right: -160px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.bb-corporativo .pr-nos_te_ligamos:hover {
    margin-right: 0px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@media screen and (max-width: 1023px) {
    .bb-corporativo .pr-nos_te_ligamos {
        display: none;
    }
}

.bb-corporativo .box-banner {
    display: inline-block;
}

.bb-corporativo #vantagens {
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -80px;
    background-color: transparent;
}

@media (max-width: 600px) {
    .bb-corporativo #vantagens {
        width: 10px;
        height: 10px;
        position: absolute;
        margin-top: 0px;
        background-color: transparent;
    }
}

.bb-corporativo #liguenos {
    width: 10px;
    height: 10px;
    position: absolute;
    margin-top: -150px;
    background-color: transparent;
}

/* Ajustes  corporativo abaixo de 375px */
@media (max-width: 375px) {
    .bb-corporativo .para-empresas {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .bb-corporativo .portelefone .funcionamento {
        font-size: 10px;
    }
    
    .bb-corporativo .portelefone .pr_empresas_mail {
        font-size: 14px;
    }
    
    .bb-corporativo .liguenos .texto {
        margin: 0 auto;
        margin-top: 60px;
    }
    
    .bb-corporativo .home-redes-empresa .home {
        float: inherit;
        margin: 0 auto;
    }
    
    .bb-corporativo .home-redes-empresa .base-redes {
        float: inherit;
        margin: 0 auto;
        margin-top: 20px;
    }
}
/* Ajustes  corporativo abaixo de 375px */

/* fim corporativo */

/* Ajuste TRUSTEDCOMPANY */
@media (min-width: 1024px) {

    .product-info-container .product-checkout .product-immediate-delivery {
        top: 115px;
    }

    .product-info-container .product-checkout .buy-button {
        margin-top: 66px;
        top: initial;
    }

    .product-info-container .product-checkout .product-info {
        min-height: 332px;
    }
	
    .site-blindado-product {
        top: 240px;
    }

}

@media (max-width: 1024px) {

    div#TRUSTEDCOMPANY_widget_104693 {
        margin-bottom: 10px;
    }
	
}
/* Ajuste TRUSTEDCOMPANY */

/* Ajuste TRUSTEDCOMPANY !important */
.tc-widget-standard {
    font-size: 12px !important;
}

#TRUSTEDCOMPANY_widget_104693 .tc-star-color {
    fill: #ffc240 !important;
    color: #DAA81D !important;
}

.tc-widget-standard .tc-widget-standard-content .tc-widget-standard-col-2.tc-widget-logo .tc-widget-logo--title {
    font-size: 13px !important;
}

.tc-widget-standard .tc-widget-standard-content .tc-widget-standard-col-3 .tc-widget-reviewcount {
    font-size: 14px!important
}

.tc-ratings svg {
    height: 24px!important;
    width: 24px!important;
    margin-right: -2px!important;
    margin-left: 1.8px!important;
}

@media (min-width: 1025px) {
    #TRUSTEDCOMPANY_widget_104693 .tc-widget-width {
        width: 194px!important;
        min-width: 194px!important;
        margin-left: 15px!important;
    }
}

span.tc-widget-logo--title {
    color: #000000!important;
}
/* Ajuste TRUSTEDCOMPANY !important */

/* Mostrar numero avaliações estrelas trustvox pg baterias */
body.category-redesign .category-shelf .shelf-info .evaluation .ts-shelf-rate-count {
    display: block!important;
    float: right!important;
    margin-top: 8px!important;
    margin-left: 4px!important;
}
/* Mostrar numero avaliações estrelas trustvox pg baterias */

/* Correção botão avise-me pg produtos */
@media (min-width: 1025px) {
    .product-info-container .product-checkout .notifyme .notifyme-button-ok {
        top: 150px!important;
        left: 375px!important;
    }
}
/* Correção botão avise-me pg produtos */

.colecaoa, .colecaob, .colecaoc, .colecao39 { color: transparent!important; }

/* Ajustes flag desalinhada */
.flag {
    width: 100%!important;
}

.colecaoa::before, .colecaob::before, .colecaoc::before, .colecao39::before {
    width: 100%!important;
    background-position: right!important;
    left: -13px!important;
}

body.produto .product-image-container .flags {
    width: 100%;
}
/* Ajustes flag desalinhada */

/* Ajustes flag desalinhada shelf-redesign */
@media (min-width: 1024px) {
    .shelf-redesign .colecaoa::before {
        width: 382px!important;
    }
}

@media (max-width: 781px) {
     .shelf-redesign .colecaoa::before {
        width: 362px!important;
    }
}

@media (max-width: 381px) {
     .shelf-redesign .colecaoa::before {
        width: 315px!important;
    }
}


@media (min-width: 1024px) {
    .shelf-redesign .colecaob::before {
        width: 382px!important;
    }
}

@media (max-width: 781px) {
     .shelf-redesign .colecaob::before {
        width: 362px!important;
    }
}

@media (max-width: 381px) {
     .shelf-redesign .colecaob::before {
        width: 315px!important;
    }
}


@media (min-width: 1024px) {
    .shelf-redesign .colecaoc::before {
        width: 382px!important;
    }
}

@media (max-width: 781px) {
     .shelf-redesign .colecaoc::before {
        width: 362px!important;
    }
}

@media (max-width: 381px) {
     .shelf-redesign .colecaoc::before {
        width: 315px!important;
    }
}


@media (min-width: 1024px) {
    .shelf-redesign .colecao39::before {
        width: 382px!important;
    }
}

@media (max-width: 781px) {
     .shelf-redesign .colecao39::before {
        width: 362px!important;
    }
}

@media (max-width: 381px) {
     .shelf-redesign .colecao39::before {
        width: 315px!important;
    }
}
/* Ajustes flag desalinhada shelf-redesign */

/* Ajustes width e height */
.qvvt li .collection-image-link img {
    width: 160px!important;
    height: 160px!important
}
/* Ajustes width e height */

/* Ajustes caixas grudadas  */
.depart-bestsellers .shelf ul li {
    margin: 0 7px 10px 0!important
}

.qvvt .shelf ul li {
    margin: 0 10px 10px 0!important
}
/* Ajustes caixas grudadas  */

/* Titulo H1 Categoria */
.category-info h1 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px
}
/* Titulo H1 Categoria */

/* Estilo PDF */
.stylepdf h2 {
    font-size: 20px;
	font-weight: bold;
	color: #000000;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

.stylepdf h3 {
    font-size: 20px;
	font-weight: bold;
	color: #000000;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

.stylepdf p {
    font-size: 17px!important;
    color: #000000!important;
    line-height: 20px!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    font-weight: initial!important;
    float: initial!important
}

.stylepdf ul {
	list-style-type: disc;
	list-style-position: inside;
	color: #000000;
	margin-left: 5px
}

.stylepdf li {
	margin-bottom: 5px
}

.stylepdf ul a {
	margin-left: -5px
}

.stylepdf a:link {
    color: #0d6ea1;
    text-decoration: none;
	font-size: 17px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.stylepdf a:visited {
    color: #0d6ea1;
    text-decoration: none
}

.stylepdf a:hover {
    color: #3593d9;
    text-decoration: none
}

.stylepdf a:active {
    color: #3593d9;
    text-decoration: none
}

.category .stylepdf li {
	margin-bottom: 14px
}

.category-redesign-2 .stylepdf li {
	margin-bottom: 14px
}

.category-info.category-info-bottom .stylepdf li {
	margin-bottom: 5px
}

@media (max-width: 1024px) {
     .stylepdf {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* Estilo PDF */